# Dependencies
node_modules/

# Build output
dist/
dist/*

# Env files
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/

# Vite
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
